// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';

#GameTracker{
  display: none;
  text-align: center;
}

// #OneGame{
//   display:none;
// }
//
// #GamesList{
//   display:none;
// }

// #NewGame{
//   display: none;
// }

#EventsForNewGame{
  display:none;
}

#NewGameInputArea{
  display:none;
}

#SaveGameButton{
  display:none;
}


#ReturnFromNewGameButton{
  display:none;
}
