$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import './landingPage';
@import './nav';
@import './dashboard';
@import './gameTracker';

#doc-message{
  text-align: center;
}

.featurette-divider{
  border-style: groove;
}
