// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';

#aboutSection {
  text-align: center;
  // width: 500px;
}

p {
  font-size: 16px;
}

#Dashboard{
  display: none;
}

#ChooseTeam{
  display:none;
}
