// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';

.Signed-In-Nav{
  display:none;
}

#footer{
  background-color: black;
  padding: 10px;
  margin-top: 20px;
  color: white;
  text-align: center;
}
